/* цвета */
$yellow: #f9b43b;
$black: #2f3234;
$white: #fff;
$red: #e45028;
$grey: #332f34;



/* base layout */
@import "../css/base/normalize";
@import "../css/base/fonts";
@import "../css/base/layout";
@import "../css/base/pages_background";

/* blocks */
@import "../css/block/header";
@import "../css/block/fp__content";
@import "../css/block/nav_menu";
@import "../css/block/header_btn";
@import "../css/block/section-header";
@import "../css/block/logo";
@import "../css/block/next";
@import "../css/block/aside";
@import "../css/block/best";
@import "../css/block/reviews";
