.sidebar {
    min-width: 20px;
    position: fixed;
    z-index: 100;
    top: 20%;
    left: 87%;
    

.sidebar__items {
    list-style-type: none;
    text-align: center;
    transition: 0.2s;
    cursor: pointer;
    border-radius: 50%;
   

      &::before{

        content: '\2022';
        color: #fff;
        align-content: center;    
    }
        &:hover {
            border: 1px solid #fff;
        }
}

}
