.burger {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-right: rem(10px);
    margin-left: rem(10px);
    width: rem(940px);
    overflow: hidden;


    @include tablets {
        flex-direction: column;
        align-items: center;
    }
}

.burger__item {
        display: flex;
        position:absolute;
        top: auto;
        z-index:0;
        text-align:center;
        padding:0;
        transition:all 0 ease-in;
        opacity:0;
        visibility:hidden;
        &.current {
            display:flex;
            position:relative;
            top: auto;
            z-index:5;
            opacity:1;
            visibility:visible;         
        }       

    @include tablets {
    flex-direction: column;
    margin: 0 auto;
    }
}

.burger__choose {
    width: 50%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(../img/black_burger.png);
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;

    @include tablets {
        margin-top: rem(20px);
        flex-direction: row;
        width: 70%;
        height: rem(450px);
        margin: rem(10px) auto;
        background-size: 110%;
    }

    @include phones {
        height: rem(320px);
    }
}
.burger__choose-slide2 {
    background-image: url(../img/Burger2.png);
    background-size: 90%;
}

.burger__choose-slide3 {
    background-image: url(../img/Burger3.png);
    background-size: 90%;
}

.burger__kkal, .burger__consist {
    width: 15%;
    height: 20%;
    transition: 0.5s;
    border-radius: 5px;
    opacity: 0.7;
    font-family: 'gagalin';
    font-weight: rem(14px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    color: $white;
    text-transform: uppercase;
    text-align: center;

    &:hover {
        opacity: 1;
    }

    @include tablets {
        height: 20%;
        width: 20%;
    }
}

.burger__consist {
    background:  #eb8c38;
}


.burger__name {
    width: 50%;
    @include tablets {
        width: 70%;
        margin: 0 auto;
    }

}

.prev__arrow, .next__arrow {
    width: 5%;
    cursor: pointer;
}
.prev__arrow::after {
    content: "\2039";
    color: $white;
    font-size: rem(72px);
}

.next__arrow::after {
    content: "\203a";
    color: $white;
    font-size: rem(72px);
}


.burger__desc {
    font-family: 'ubuntu-light';
    font-size: rem(14px);
    color: $white;
    margin-top: rem(35px);
    margin-bottom: rem(20px);
    line-height: 2;

    @include tablets{
        text-align: center;
        margin: 0;
        line-height: 1;
        margin-top: rem(10px);
        margin-bottom: rem(10px);
    }
}

.burger__price {
    @include tablets {
        margin: 0 20%;
        display: flex;
        align-items: baseline;
        font-size: rem(25px);

    }

    @include phones {
        margin: 0 5%;
    }
}
.burger__nbr {
    font-family: 'gagalin';
    font-size: rem(72px);
    color: $red;
    @include phones {
        font-size: rem(42px);
    }
}

.burger__rub {
    font-family: 'gagalin';
    font-size: rem(30px);
    color: $red;
    margin-right: rem(25px);
    @include phones {
        fon-size: rem(18px);
    }
}


.burger__btn {
    margin-right: rem(20px);
    border: 0;
    background: $red;
    font-family: 'ubuntu-medium';
    font-size: rem(13px);
    text-transform: uppercase;
    border-radius: rem(5px);
    color: $white;
    padding: rem(10px) rem(15px);
    cursor: pointer;

    @include tablets {
    height: 20%;
    }
}


.burger__pop {
    display: flex;
    flex-direction: column;
	border: solid 1px black;
	padding: rem(10px);
	background-color: rgba(255, 255, 255, 0.8);
    width:40%;
    height: 40%;
    margin: 10% 60% 45% 45%;
    border-radius: 5px;
       @include tablets {
        width: 50%;
        height: auto;
    }
}

.burger__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 5% 10%;
    text-align: left;
}

.burger__cont-icon {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(15px);
    font-family: 'ubuntu';
    font-size: rem(18px);
    color: $grey;
}

.burger__cont-name {
    font-style: bold;
    color: $black;
}