.btn { 
    display: block; 
    padding: 10px 15px;
    border-radius: 5px;
    font-family: 'ubuntu-medium';
    font-size: 13px;
    text-transform: uppercase;
    color: $white;
    padding-top: 13px;
}



.header__button {
    background: $red;
    transition: 0.2s;
    

    &:hover{
        font-weight: bold;
        border: 1px solid #fff;
    }
}

