.menu {
    position: relative;
}

.menu-acco {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
}

.menu-acco__item {
    height: 100%;
    border: 1px solid black;
    display: flex;
    backgroung-color: $grey-o;

    &.active {
        .menu-acco__trigger-text {
            color: $yellow;
        }
    }
}

.menu-acco__trigger {
    width: rem(80px);
    display: block;
    height: 100%;
    text-decoration: none;
    position: relative;
    background-color: $grey-o;

 @include phones {
    width: rem(50px);
  }
}

.menu-acco__trigger-text {
    font-size: rem(40px);
    color: $white;
    text-align: center;
    font-family: 'gagalin';
    text-transform: uppercase;
    white-space: nowrap;
    position: absolute;
    transform: rotate(-90deg) translateY(-50%);
    transform-origin: 0 0;
    left: 50%;
    top: 100%;
    margin-top: rem(-20px);

  @include phones {
    font-size: rem(26px);
  }
}

.menu-acco__content {
    height: 100%;
    background: rgba(#2f3234, .93);
    width: 0;
    overflow: hidden;
}

.menu-acco__text {
    font-size: rem(14px);
    color: #fff;
    font-family: 'ubuntu-light';
    padding: rem(60px)  rem(8px);
    width: 100%;
    line-height: 1.8;
    display: none;

  @include phones {
    padding: rem(25px) rem(15px);
  }
}
