.menu {
	position: relative;
}

.accordeon__menu {
	display: flex;
	filter: grayscale(1);
	position: absolute;
    top: 0;
    left: 40%;
    right: 0;
    bottom: 0;
    background: $grey-o;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.menu__title, .menu__hidden {
	color: #fff;
}

.menu__hidden {
	width: 0;
    overflow: hidden;
}

.menu__hidden-show {
	min-width: 700px;
    overflow: visible;
}

.menu__list {
	display: flex;
	justify-content: flex-start;
}

.menu__items {
	display: flex;
	max-height: 50px;
}

.menu__name {
	height: 100vh;
	display: flex;
	justify-content: flex-end;
	 background: $grey-o;
	 cursor: pointer;
}

.menu__title {
    -webkit-writing-mode: vertical-rl;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-bottom: 70px;
    font-size: 40px;
    font-family: 'ubuntu-medium';
    text-transform: uppercase;

}