.team {
    position: relative;
}

.accordeon__team {
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    background: $grey-o;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.team__link {
    position: relative;
    cursor: pointer;
    display: block;
    font-family: 'gagalin';
    font-size: 14px;
    color: $white;
    margin-left: 15px;
    margin-bottom: 25px;
}

.team__link::before {
    content: '\25BC';
    color: $white;
    margin-right: 5px; 
  }

.team__avatar {
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat; 
    margin-right: 25px;
}

.team__img {
    width: 100%;
    height: 100%;
}

.team__hidden {
    display: flex; 
    height: 0;
    overflow: hidden;
}

.team__hidden-active {
    min-height: 120px;
    overflow: visible;
}


.team__link-active {
    color: $yellow;
}

.team__link-active::before {
    content: '\25B2'; 
    color: $yellow; 
}

.team__desc {
    display: flex;
    flex-direction: column;
    max-width: 208px;
    margin-top: 0;
    font-family: 'ubuntu-light';
    font-size: 14px;
    color: $white;
}

.team__prof {
    font-family: 'ubuntu';
    font-weight: bold;
    font-size: 14px;
    color: $white;
}






