.accordeon {
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    background: $grey-o;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accordeon__title {
    display: block;
    font-family: 'gagalin';
    font-size: 14px;
    color: $white;
    margin-left: 15px;
    margin-bottom: 25px;
} 

.accordeon__tr {
    position: relative;
    cursor: pointer;
}

.accordeon__tr::before {
    content: '';
    position: absolute; 
    border: 8px solid transparent; 
    border-top: 8px solid  $white; 
    top: 0;
    left: 0;
    margin-top: 5px;
  }

.accordeon__avatar {
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat; 
    margin-right: 25px;
}

.accordeon__img {
    width: 100%;
    height: 100%;
}
.accordeon__hidden {
    display: flex; 
    height: 0;
    overflow: hidden;
}

.accordeon__hidden-active {
    min-height: 120px;
    overflow: visible;

}


.accordeon__title-active {
    color: $yellow;
}

.accordeon__desc {
    display: flex;
    flex-direction: column;
    max-width: 208px;
    margin-top: 0;
    font-family: 'ubuntu-light';
    font-size: 14px;
    color: $white;
}

.accordeon__prof {
    font-family: 'ubuntu';
    font-weight: bold;
    font-size: 14px;
    color: $white;
}






