.section__title {
    font-family: 'gagalin';
    font-size: 72px;
    color: $yellow;
    text-transform: uppercase;   
    margin-bottom: 0;
}

.section__title-fp {
    margin-top: 120px;
}

.section__title-black { 
	color: $black;
	text-align: center;
	margin-top: 113px;
    }
    
.section__title-team {
    margin-top: 113px;
    margin-bottom: 55px;
}