.sidebar__items {
    list-style-type: none;
    min-width: 20px;
    min-height: 20px;
    text-align: center;
    transition: 0.2s;
    border-radius: 50%;
    cursor: pointer;
    
    
        &::before{
        content: '\2022';
        color: #fff;
        align-content: center;
        
        
    }
        &:hover {
            border: 1px solid #fff;
        }
}