
.nav__list {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
}

.nav__item {
    &:before {
        content: '\2022';
        color: #fff;
    }
    &:first-child::before{
        content: '';
    }

    .nav__title {
        font-family: 'ununtu';
        font-weight: medium;
        font-size: 13px;
        color: #fff;
        text-transform: uppercase;
        margin: 15px;
    }

}
