                   
.next {
    display: flex;
    justify-content: center;
    
}

.next__page {
    background: url('../img/scroll.png');
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    min-width: 170px;
    min-height: 100px;
}
