

.person__list {
    display: flex; 
    flex-wrap: wrap; 
}

.person__items {
    max-width: 25%;
    max-height: 50%;
    position: relative;
    overflow: hidden; 
}

.person__info {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: azure;
    opacity: 0;
    transition: opacity 0.2s;
}


.person__info {
    background: url(../img/1.jpg);
    width: 160px;
    height: 160px;
    filter: grayscale(1);
  
}