.into-page {
    background: url('../img/first-page.jpg') center center no-repeat;
    background-size: cover;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
}


.best {
    background: url('../img/second-page.jpg') no-repeat;
    background-size: cover;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.team {
    background: url('../img/team_back.jpg') 50% no-repeat;
    background-size: cover;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
}

.menu {
    background: url('../img/menu_back.jpg') 50% no-repeat;
    background-size: cover;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
}

.contacts {
    background: url('../img/map_back.jpg') 50% no-repeat;
    background-size: cover;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
}

.delivery {
    background: url('../img/delivery_back.jpg') center center / cover no-repeat;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
}