.into-page {
    background: url('../img/first-page.jpg');
    background-size: cover;
    background-position: center center;
    moz-background-size: 100%;
    webkit-background-size: 100%;
    o-background-size: 100%;
}


.best {
    background: url('../img/second-page.jpg');
    background-size: cover;
    background-position: center center;
    moz-background-size: 100%;
    webkit-background-size: 100%;
    o-background-size: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.burgers {
    background: linear-gradient(to top, $yellow 20%, #eb8c38 50%, $yellow 80%);
    background-position: center center;
    moz-background-size: 100%;
    webkit-background-size: 100%;
    o-background-size: 100%;
}

.team {
    background: url('../img/team_back.jpg');
    background-position: center center;
    background-size: cover;
    moz-background-size: 100%;
    webkit-background-size: 100%;
    o-background-size: 100%;
}

.menu {
    background: url('../img/menu_back.jpg');
    background-position: center center;
    background-size: cover;
    moz-background-size: 100%;
    webkit-background-size: 100%;
    o-background-size: 100%;
}

.contacts {
    display: flex;
    flex-direction: column;
}

.delivery {
    background: url('../img/delivery_back.jpg');
    background-position: center center;
    background-size: cover;
    moz-background-size: 100%;
    webkit-background-size: 100%;
    o-background-size: 100%;
}

.video {
    background: url('../img/video.jpg');
    background-position: center center;
    background-size: cover;
    moz-background-size: 100%;
    webkit-background-size: 100%;
    o-background-size: 100%;
}