html, body {height: 100%;}



body {
    background-color: #fff;
    font-family: 'roboto', HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin: 0px;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


* {
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto; 
}

.container--flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container--mainflex {
    display: flex;
    align-content: flex-start;
}
   

.wrapper {
	overflow: hidden;
	min-width: 1200px;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.wrapper__content {
	flex: 1;
}

.section-header { 
    color: #221f1f;
    font-size: 49px;
    font-weight: bold;
    line-height: 38px;
    margin-left: 1px;
    margin-top: 18px;
}

aside {
   max-width: 315px;
}
.header-aside { 
    font-size: 18px;
    font-weight: bold; 
    text-transform: uppercase;
    margin-top: 10px;
    margin: auto;
    padding-top: 20px;
    color: #4e4e4e;
}


aside.sidebar {
    padding: 8px;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
}

h1, h2, h3, h4, h5 {
    margin-left: 0;
    font-weight: normal;
}

table { 
    border-collapse: collapse;
    border-spacing: 0;
}


