.fp__content {
    display: flex;
    max-width: 100%;
    justify-content: center;
    align-content: center;


    @include tablets {
        flex-direction: column;
        align-content: center;
        padding: 15%;
    }
}

.fp__pic,
.fp__about {
    width: 50%;

    @include tablets {
        width: 100%;
        text-align: center;
    }
}


.fp__desc {
    font-family: 'lifehack';
    font-size: rem(65px);
    color: #fff;
    margin-top: 0;
    line-height: 1;
    padding-bottom: rem(68px);

    @include phones {
        font-size: rem(52px);
    }
}

.fp__burger {
    max-width: 100%;

    @include tablets {
        max-width: 90%;
    }
}